<!-- public/home.html -->
<link rel="stylesheet" type="text/css" href="css/style-dampak.css">
<div>
    <div class="container-fluid">
        <div class="background grid gap-5">
            <h1 class="wrap-text judul g-col-6" style="width: 35%;">Dampak produksi dan konsumsi fashion.</h1>
            
            <div class="container-fluid d-flex bawah-judul w-100 g-col-6">
                <div class="row">
                    <!-- First column starts with the same width as the heading -->
                    <div class="col-md-4 bawah-judul"> 
                        <h1 class="text-center text-bawah-judul">20%</h1>
                        <p class="wrap-text ms-4">of industrial water pollution comes from textile dyeing and finishing processes.</p>
                    </div>
                    <!-- Second column -->
                    <div class="col-md-8 bawah-judul">
                        <h1 class="text-center text-bawah-judul">10%</h1>
                        <p class="wrap-text ms-4">of global carbon emissions comes from the fashion industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
