.judul{
    font-size: 62px;
    font-weight: 400;
}

.background{
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
